.subheader {
  display: flex;
}

h1:before {
  content: "> ";
  opacity: 1;
}

h1:after {
  content: " ∎";
  opacity: 1;
  animation: cursor 1s infinite;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.avatar {
  max-width: 80px;
  max-height: auto;
  border-radius: 50%;
  border: solid 1px #fff;
  margin-right: 20px;
}

.social {
  list-style: none;
  display: flex;
}

.social li {
  margin: 0 10px;
}
