<header class="mt-10">
  <h1 class="text-indigo-500 font-bold text-2xl ">Juan Carlo</h1>
  <div class="mt-10 flex">
    <img class="avatar" src="assets/avatar.jpg"/>
    <p>Sou um desenvolvedor de software apaixonado em criar interfaces simples e intuitivas.</p>
  </div>
  <ul class="social flex mt-5 text-lg text-indigo-100">
    <li><a href="mailto:jcgonzalezasj@gmail.com" class="hover:text-indigo-500">email</a></li>
    <li><a href="https://github.com/charsplusjk" class="hover:text-indigo-500">github</a></li>
    <li><a href="https://www.linkedin.com/in/jcgonzalezasj/" class="hover:text-indigo-500">linkedin</a></li>
  </ul>
</header>
