<header class="mt-10">
  <h1 class="text-stone-300 font-bold text-2xl ">Juan Carlo</h1>
  <div class="mt-10 flex">
    <img class="avatar" src="assets/avatar.jpg"/>
    <p>Sou um desenvolvedor de software apaixonado em criar interfaces simples e intuitivas.</p>
  </div>
  <ul class="social flex mt-5 text-lg text-stone-100">
    <li><a href="mailto:jcgonzalezasj@gmail.com"><img class="" src="assets/icons/email.svg"/></a> | </li>
    <li><a href="https://github.com/charsplusjk"><img class="" src="assets/icons/github.svg"/></a> | </li>
    <li><a href="https://www.linkedin.com/in/jcgonzalezasj/"><img class="" src="assets/icons/linkedin.svg"/></a></li>
  </ul>
</header>
