@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #202023;
  color: #ffffff;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
