html {
  background-color: #333333;
  color: #ffffff;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
}

body {
  max-width: 640px;
  margin: auto;
}
