<section>
  <h2 class="text-indigo-500 font-bold text-xl mt-10 mb-10">
    Experiência profissional
  </h2>
  <div>
    <div class="mt-8">
      <h3 class="mb-3">Desenvolvedor Web na <a href="https://www.foster.com.br" class="font-bold text-indigo-500">Agência Foster</a></h3>
      <ul class="list-disc  ml-5">
        <li>Criação de aplicativos multiplataforma utilizando Angular, Typescript, Ionic, Sass e C#.</li>
        <li>Desenvolvimento e manutenção de páginas web utilizando HTML, CSS, Bootstrap e CMSs.</li>
        <li>Manutenção de banco de dados utilizando MySQL.</li>
      </ul>
    </div>
    <div class="mt-8">
      <h3 class="mb-3">Estagiário na <a href="https://www.foster.com.br" class="font-bold text-indigo-500">Agência Foster</a></h3>
      <ul class="list-disc ml-5">
        <li>Desenvolvimento e manutenção de páginas web utilizando CMSs, PHP, JavaScript, jQuery e Bootstrap.</li>
        <li>Manutenção de banco de dados utilizando MySQL.</li>
      </ul>
    </div>
  </div>
</section>
