<section>
  <h2>
    Experiência profissional
  </h2>
  <div>
    <div>
      <h3>Desenvolvedor Web na <a href="https://www.foster.com.br">Agência Foster</a></h3>
      <ul>
        <li>Criação de aplicativos multiplataforma utilizando Angular, Typescript, Ionic, Sass e C#.</li>
        <li>Desenvolvimento e manutenção de páginas web utilizando HTML, CSS, Bootstrap e CMSs.</li>
        <li>Manutenção de banco de dados utilizando MySQL.</li>
      </ul>
    </div>
    <div>
      <h3>Estagiário na <a href="https://www.foster.com.br">Agência Foster</a></h3>
      <ul>
        <li>Desenvolvimento e manutenção de páginas web utilizando CMSs, PHP, JavaScript, jQuery e Bootstrap.</li>
        <li>Manutenção de banco de dados utilizando MySQL.</li>
      </ul>
    </div>
  </div>
</section>
